for num in 400 500 700
	@font-face
		font-family Montserrat
		font-style normal
		font-weight num
		src s("url('../fonts/%s%s.woff2')", Montserrat, num) format('woff2'),
		s("url('../fonts/%s%s.woff')", Montserrat, num) format('woff');

for num in 400
	@font-face
		font-family PTSerif
		font-style normal
		font-weight num
		src s("url('../fonts/%s%s.woff2')", PTSerif, num) format('woff2'),
		s("url('../fonts/%s%s.woff')", PTSerif, num) format('woff');

for num in 700
	@font-face
		font-family Couture
		font-style normal
		font-weight num
		src s("url('../fonts/%s%s.woff2')", Couture, num) format('woff2'),
		s("url('../fonts/%s%s.woff')", Couture, num) format('woff');