pink-color = #d03958
black-color = #161616
light-pink = #e3d5b8

descSize = 1200px
tabletSize = 960px
mobileSize = 560px
smallSize = 420px

desc = s("only screen and (max-width: %s)", descSize)
more-desc = s("only screen and (min-width: %s)", descSize + 1)
tablet = s("only screen and (max-width: %s)", tabletSize)
more-tablet = s("only screen and (min-width: %s)", tabletSize + 1)
mobile = s("only screen and (max-width: %s)", mobileSize)
more-mobile = s("only screen and (min-width: %s)", mobileSize + 1)
small = s("only screen and (max-width: %s)", smallSize)
more-small = s("only screen and (min-width: %s)", smallSize + 1)