.footer
	background-color black-color
	padding-top 75px
	padding-bottom 58px

	&__box
		display flex
		justify-content space-between
		@media mobile
			flex-direction column
			text-align center
	&__copyright
		font-family PTSerif
		font-weight 400
		font-size 20px
		color #fff
	
	&-logo
		@media mobile
			margin-top 15px