.story
	background-color pink-color
	padding-top 28px
	padding-bottom 24px

	&__block
		display flex
		@media tablet
			flex-direction column
		
	&__text
		max-width 625px
		width 100%
		font-family PTSerif
		font-size 20px
		font-weight 400
		color #fff
		@media tablet
			margin-bottom 20px
			max-width none
			text-align center
		

	&__link
		margin-left 99px
		max-width 270px
		width 100%
		display inline-block
		text-transform uppercase
		font-family Montserrat
		font-weight 500
		font-size 22px
		color black-color
		padding 24px 68px 21px 68px
		background-color #fff
		border-radius 5px
		@media tablet
			padding 28px 68px 28px 68px
			margin 0 auto
			
		
